<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    		<defaultDocument>
		 <files>
		  <remove value="index.htm" />
		  <remove value="index.html" />
		  <remove value="iisstart.htm" />
 		</files>
		</defaultDocument>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	 <httpErrors errorMode="Custom" existingResponse="PassThrough" />
        <asp scriptErrorSentToBrowser="true" />
    </system.webServer>
</configuration>
